td {
    vertical-align: middle !important;
}
textarea { resize: vertical }
.quem-somos-titulo, .quem-somos-subtitulo {
    color: #666;
    font-family: serif;
    line-height: 1;
}
.quem-somos-titulo { font-size: 2em }
.quem-somos-subtitulo { font-size: 1.5em }
