a
    text-decoration none
    color inherit
    transition color .3s

p
    line-height 1.5
    &:first-child
        margin-top 0

body
    exo 14
    color $cinza

h2
    exo 32 extralight
    text-transform uppercase
    margin-top 0
    +mobile()
        font-size 28px

ul
    list-style-type none
    padding 0
    li
        position relative
        padding-left 1em
        margin-bottom 2px
        &:before
            content '\b7'
            position absolute
            left 0
