desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$cinza   = #696B6D
$cinzaC  = #CCCCCC
$laranja = #F4A41B

@import 'https://fonts.googleapis.com/css?family=Caveat|Exo+2:200,300,400,700';

caveat(size)
    font-size size + 0px
    font-family 'Caveat', cursive
    font-weight 400

exo(size, weight = normal, style = normal)
    font-size size + 0px
    font-family 'Exo 2', 'Helvetica', 'Arial', sans-serif
    font-style style
    font-weight 400
    if weight == extralight
        font-weight 200
    if weight == light
        font-weight 300
    if weight == bold
        font-weight 700
