.abertura
    clearfix()
    &__imagem
    &__texto
        width 50%
        float left
        color #000
    &__imagem
        img
            width 100%
            height auto
            display block
    &__texto
        padding 190px 0 50px 40px
    +tablet()
        &__texto
            padding-top 140px
    +mobile()
        &__imagem
            display none
        &__texto
            width 100%
            padding 5% 0
