.cadastro-imovel
    background #F5F3EF
    .abertura__texto
        color $cinza
        > p
            color #000
        h2
            margin-top 1.5em
        h3
            exo 24 extralight
            margin 1.5em 0 .5em
        .erros
            padding 10px
            border 1px solid rgba(#B90000, .3)
            color #B90000
            exo 12
            text-transform uppercase
        .sucesso
            padding 10px
            margin-bottom 1em
            border 1px solid rgba(#158434, .3)
            color #158434
            exo 14
            text-transform uppercase
            text-align center
        form
            input
            select
                width 100%
                display block
                padding 8px
                background #fff
                border 0
                outline 0
                exo 12
                color #000
                margin-bottom 5px
                &[type='submit']
                    background $cinza
                    color #fff
                    display inline-block
                    width auto
                    exo 20 light
                    padding 6px 30px
                    transition background .3s
                    &:hover
                        background #DE6B27
                +placeholder()
                    color $cinza
            select
                height 32px
                border-radius 0
            label
                width 100%
                padding 25px
                position relative
                display block
                background #fff
                margin-bottom 20px
                cursor pointer
                border 2px solid transparent
                transition border .3s
                &:hover
                    border 2px solid rgba($cinza, .3)
                &.active
                    border 2px solid $laranja
                    p
                        color #000
                p
                    margin 0
                    text-align center
                    text-transform uppercase
                    exo 12
                input
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    opacity 0
                    padding 0
                    display block
                    margin 0
                    cursor pointer
