.contato
    background #F5F3EF
    .abertura__texto
        color $cinza
        &.form-wrapper
            background $cinza
            padding-right 50px
        p
            margin 1.5em 0
            &.telefone
                margin 0
                exo 32
        form
            input
            textarea
                +placeholder()
                    color #fff
                width 100%
                resize none
                background rgba(#fff, .1)
                color #fff
                exo 12
                border 1px solid transparent
                outline 0
                display block
                margin-bottom 6px
                padding 6px 8px
                transition border .3s, box-shadow .3s
                &:focus
                    border 1px solid rgba(#DE6B27, .8)
                    box-shadow 0 0 5px #DE6B27
            textarea
                height 200px
            input[type='submit']
                display inline-block
                width auto
                exo 20
                background #DE6B27
                line-height 1
                padding 10px 60px 12px
                transition background .3s
                box-shadow none !important
                &:hover
                    background darken(#DE6B27, 5)
            #form-contato-response
                display none
                width 100%
                color #fff
                border 2px solid #DE6B27
                border-radius 2px
                padding 10px
                text-align center
                exo 13
                text-transform uppercase
                margin-bottom 6px
        +desktop()
            padding-top 210px
            &.form-wrapper
                padding-top 220px
        +tablet()
            padding-top 155px
            &.form-wrapper
                padding-top 165px
        +mobile()
            background transparent !important
            display none
            &.form-wrapper
                display block
                padding 7% 0 5%
            form
                input
                textarea
                    background $cinza
                    &[type='submit']
                        display block
                        width 100%
                #form-contato-response
                    color #DE6B27
