.not-found
    background lighten($cinzaC, 10)
    padding 250px 0 150px
    text-align center
    +mobile()
        padding 100px 0
    h1
        display inline-block
        margin 0
        exo 14 bold
        text-transform uppercase
        padding 12px 15px
        border 2px solid $cinza
        border-radius 4px

