footer
    background $cinzaC
    text-align center
    border-top 1px solid darken($cinzaC, 5)
    .wrapper
        font-size 0
        padding 30px 0
        clearfix()
    .col
        display inline-block
        vertical-align top
        text-align left
        &-links:first-child
            margin-right 35px
        &-marca
            margin 0 60px 0
        a
            exo 12
            display block
            &:hover
                color #000
        img
            display block
        p
            exo 11
            margin 0
            &.telefone
                exo 14 bold
            &.localizacao
                margin .3em 0
    .copyright
        padding 10px 0
        border-top 1px solid darken($cinzaC, 10)
        p
            margin 0
            exo 10
        a:hover
            color #000
        .logo-trupe
            display inline-block
            min-height 12px
            padding-right 20px
            background $img('trupe.svg') no-repeat center right
    +mobile()
        .wrapper
            padding 20px
        .col
            width 100%
            margin 0
            text-align center
            img
                margin 0 auto 20px
            &-links
                display none
        .copyright
            span
                display block
                font-size 0
