header
    background $cinza
    position relative
    z-index 105
    .center
        clearfix()
    .header-logo
        position absolute
        width 200px
        height 160px
        text-indent -9999px
        background $img('makler.png') no-repeat center #fff
        top 30px
        left 50%
        margin-left -100px
        +tablet()
            width 150px
            height 120px
            background-size 78% auto
            margin-left -75px
    nav
        width 100%
        text-align center
        font-size 0
        +above($mobile)
            display block !important
        a
            display inline-block
            height 30px
            line-height 30px
            padding 0 10px
            exo 13
            color #fff
            transition background .3s
            &:hover
            &.active
                background darken($cinza, 15)
        .social-wrapper
            margin-left 15px
        .social
            display inline-block
            width 16px
            height 16px
            text-indent -9999px
            font-size 0
            padding 0
            margin 0 2px
            position relative
            top 2px
            transition background .3s
            &.facebook
                background $img('facebook.png') no-repeat center top
            &.instagram
                background $img('instagram.png') no-repeat center top
            &.linkedin
                background $img('linkedin.png') no-repeat center top
            &:hover
                background-position center bottom
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 80px
        width 30px
        outline 0
        padding 0
        .lines
            display block
            width 100%
            height 4px
            background #fff
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background #fff
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    +mobile()
        height 80px
        .header-logo
            position relative
            float left
            top auto
            left auto
            margin 0
            height 80px
            width 135px
            background-size auto 80%
        nav
            display none
            width 100%
            height auto
            position absolute
            top 80px
            background #fff
            box-shadow 0 2px 3px rgba(#000, .2)
            padding 20px
            > a
                color $cinza
                display block
                height auto
                background none !important
                line-height 1
                padding-bottom 10px
                exo 14
                &.active
                    color $laranja
            .social-wrapper
                display block
                margin 0
                a
                    top 0
                    margin-top 10px

