.home
    .banners
        height 600px
        position relative
        .banner
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-size cover
            background-position center
        .banner-box
            position absolute
            width 425px
            height 425px
            background rgba(#fff, .7)
            top 50%
            left 50%
            transform translateY(-50%) translateX(-50%)
            z-index 102
            transition all .3s ease-out
            p
                exo 32 extralight
                line-height 1.4
                text-align center
                width 100%
                display block
                padding 0 25px
                position relative
                top 50%
                transform translateY(-50%)
                transition opacity .3s
            &.transition
                transform translateX(-50%) translateY(-50%) scale(.8, .8)
                p
                    opacity 0
        .banner-trigger
            position absolute
            width 40px
            height 40px
            bottom 68px
            left 50%
            transform translateX(-50%)
            background $img('mais.png') no-repeat center #fff
            transition background .3s
            z-index 103
            &:hover
                background-color $laranja
    .comercializacoes
        .center
            +above($tablet)
                width 920px
            clearfix()
            padding 50px 0 60px
            text-align center
        h2
            font-size 26px
            margin-bottom 1.2em
        a
            position relative
            display block
            float left
            width percent(300, 920)
            margin-right percent(10, 920)
            &:last-child
                margin-right 0
            img
                display block
                width 100%
                height auto
            .overlay
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                opacity 0
                background rgba($cinza, .7)
                transition opacity .3s
                span
                    display block
                    position relative
                    top 50%
                    transform translateY(-50%)
                    width 100%
                    padding 0 20px
                    exo 15
                    color #fff
                    text-align center
                    padding
            &:hover .overlay
                opacity 1
    .chamada-cadastro
        background $cinza
        color #fff
        text-align center
        .center
            padding 30px 0 45px
        h2
            margin-bottom .2em
        p
            margin 0
            caveat 20
            line-height 1.2
        a
            position absolute
            width 40px
            height 40px
            bottom -20px
            left 50%
            transform translateX(-50%)
            background $img('mais.png') no-repeat center #fff
            border 1px solid $cinza
            transition background .3s
            z-index 2
            &:hover
                background-color $laranja
    .depoimentos
        overflow hidden
    .depoimento
        width 100%
        .center
            +above($tablet)
                width 980px
            padding 70px 90px
            text-align center
            background $img('aspas-esquerda.png') no-repeat center left, $img('aspas-direita.png') no-repeat center right
        p
            margin 0
            line-height 1.1
            caveat 24
            color #000
    +tablet()
        .comercializacoes
            .center
                padding 40px 0 45px
    +mobile()
        .banners
            height 400px
            .banner-box
                width 100%
                height 200px
                p
                    font-size 24px
            .banner-trigger
                bottom 80px
        .comercializacoes
            .center
                padding 5% 0
            h2
                margin-bottom 1em
                font-size 24px
            a
                width 100%
                margin-right 0
                margin-bottom 10px
        .chamada-cadastro
            .center
                padding-top 20px
                padding-bottom 40px
        .depoimento
            .center
                padding 50px 70px
                background-size 50px auto
