.imoveis
    .abertura__imagem
        background $img('img-imoveis.png') no-repeat center bottom
        background-size cover
        height 400px
        +tablet()
            height 365px
    .abertura__texto
        p:last-child
            margin-bottom 0
    .imoveis-thumbs
        padding 50px 0 30px
        font-size 0
        &.outros-imoveis h2
            font-size 24px
        h2
            text-align center
            margin-bottom 1.2em
        &.ativos
            background $cinza
            color #fff
        &.ativos
        &.outros-imoveis
            .thumb:hover
                .imagem:after
                    opacity 1
                color $laranja
        .thumb
            display inline-block
            width percent(294px, desktop-base-width)
            margin-right percent(8px, desktop-base-width)
            margin-bottom 3%
            text-align center
            vertical-align top
            &:nth-child(4n)
                margin-right 0
            .imagem
                position relative
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background rgba($cinza, .7)
                    transition opacity .3s
                    opacity 0
            img
                width 100%
                height auto
                display block
            p
                exo 16
                margin .4em 0 0
                span
                    exo 12
                    display block
    .imoveis-show
        padding 50px 0
        background $cinza
        color #fff
        text-align center
        h2
            margin-bottom 1.3em
            +mobile()
                margin-bottom 1em
        .center
            clearfix()
        +tablet()
            padding 40px 0
        +mobile()
            padding 5% 0
        .imagens
            width percent(800px, desktop-base-width)
            float left
            position relative
            .slide
                width 100%
                height 560px
                background-repeat no-repeat
                background-position center
                +below($tablet)
                    height auto
                    padding-bottom 70%
                    background-size contain
        .galeria-thumbs
            clearfix()
            a
                display block
                position relative
                float left
                width 11.406%
                margin-top 1.25%
                margin-right 1.25%
                &:nth-child(8n)
                    margin-right 0
                img
                    width 100%
                    height auto
                    display block
                .overlay
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
                    background rgba($laranja, .5)
                    opacity 0
                    transition opacity .3s
                &.cycle-pager-active
                    .overlay
                        opacity 1
        .galeria-control
            display block
            width 50%
            height 100%
            position absolute
            top 0
            z-index 9999
            opacity 0
            transition opacity .3s
            div
                position absolute
                width 50px
                height 100%
                top 0
            &.cycle-prev
                left 0
                div
                    left 0
                    background $img('seta-esquerda.png') no-repeat center rgba($cinza, .7)
            &.cycle-next
                right 0
                div
                    right 0
                    background $img('seta-direita.png') no-repeat center rgba($cinza, .7)
            &:hover
                opacity 1
            +below($tablet)
                opacity 1
                div
                    width 30px
            +mobile()
                div
                    background-size 12px auto !important
        .informacoes
            width percent(360px, desktop-base-width)
            float right
            text-align left
            h3
                exo 20 bold
                span
                    exo 16
                    display block
                margin 0 0 25px
            .info-trigger
                display block
                background #DE6B27
                exo 16
                color #fff
                padding 10px
                transition background .3s
                margin-bottom 3px
                &:hover
                &.active
                    background $laranja
            .info-content
                display none
                padding 10px 10px 25px
                &:last-child
                    padding-bottom 10px
                a
                    color $laranja
                    text-decoration underline
                    &:hover
                        text-decoration none
    +tablet()
        .imoveis-thumbs
            padding 40px 0 20px
            .thumb
                width 32.5%
                margin-right 1.25%
                margin-bottom 3.5%
                &:nth-child(4n)
                    margin-right 1.25%
                &:nth-child(3n)
                    margin-right 0
        .outros-imoveis .thumb
            width percent(294px, desktop-base-width)
            margin-right percent(8px, desktop-base-width)
            margin-bottom 3%
            &:nth-child(4n)
                margin-right 0
            &:nth-child(3n)
                margin-right percent(8px, desktop-base-width)
    +mobile()
        .imoveis-show
            .imagens
                width 100%
                float none
            .galeria-thumbs
                display none
            .informacoes
                width 100%
                float none
                margin-top 5%
        .imoveis-thumbs
            padding 5% 0 3%
            .thumb
                width 49%
                margin-right 2%
                margin-bottom 5%
                &:nth-child(4n)
                    margin-right 2%
                &:nth-child(2n)
                    margin-right 0
                p
                    font-size 14px
                    span
                        font-size 10px
