.parceiros
    background #F5F3EF
    .abertura
        &__imagem
            background $img('img-parceiros.png') no-repeat center bottom
            background-size cover
        +tablet()
            &__texto
                padding-top 160px
                padding-bottom 0
            &__imagem
                height 200px
        +desktop()
            &__texto
                padding-top 205px
                padding-bottom 0
            &__imagem
                height 245px
        h2
            margin 0
            color $cinza
    &__thumbs
        padding 50px 0 80px
        clearfix()
        img
            width percent(190px, desktop-base-width)
            display block
            margin-right percent(8px, desktop-base-width)
            margin-bottom percent(8px, desktop-base-width)
            float left
            &:nth-child(6n)
                margin-right 0
        +tablet()
            img
                width 23.875%
                margin-right 1.5%
                margin-bottom 1.5%
                &:nth-child(6n)
                    margin-right 1.5%
                &:nth-child(4n)
                    margin-right 0
        +mobile()
            padding 0 0 8%
            img
                width 48%
                margin-right 2%
                margin-bottom 2%
                &:nth-child(6n)
                    margin-right 2%
                &:nth-child(2n)
                    margin-right 0
