.quem-somos-titulo
.quem-somos-subtitulo
    caveat 48
    color $cinza
    margin .5em 0
    +tablet()
        font-size 40px
    +mobile()
        font-size 34px
.quem-somos-titulo
    margin-bottom 0
    + .quem-somos-subtitulo
        margin-top 0
.quem-somos-subtitulo
    font-size 24px
    +tablet()
        font-size 22px
    +mobile()
        font-size 20px

.equipe
    background $cinza
    padding 50px 0
    color #fff
    text-align center
    .center > p
        width 75%
        font-size 16px
        margin-left auto
        margin-right auto
    &__membros
        clearfix()
        margin-top 50px
    .membro
        width 33.333%
        float left
        padding 0 30px
        h4
        h3
            color $laranja
            margin 0
        h4
            caveat 20
        h3
            exo 16 bold
            margin-top .2em
        p
            margin-bottom 0
    +mobile()
        padding 7% 0
        .center > p
            width 100%
            font-size 15px
        &__membros
            margin-top 8%
        .membro
            width 100%
            margin-bottom 7%
            padding 0

.metodologia
    background #DE6B27
    padding 50px 0
    color #fff
    text-align center
    &__etapas
        clearfix()
        margin-top 50px
    .etapa
        width 33.333%
        padding 0 30px
        float left
        > p
            margin-bottom 0
        > .imagem
            width 55%
            margin 0 auto
            padding-bottom 55%
            border-radius 100%
            border 1px solid $laranja
            position relative
            &:after
                content ''
                position absolute
                top 3%
                left 3%
                width 94%
                height 94%
                background-color $laranja
                background-repeat no-repeat
                background-position center
                background-size 50% auto
                border-radius 100%
        &-1 > .imagem:after
            background-image $img('etapa-informacoes.png')
        &-2 > .imagem:after
            background-size 55% auto
            background-image $img('etapa-busca.png')
        &-3 > .imagem:after
            background-size auto 50%
            background-image $img('etapa-opcoes.png')
        > h3
            caveat 24
            text-transform uppercase
            margin .8em 0 0
            span
                display block
                text-transform none
    +tablet()
        .etapa > .imagem
            width 80%
            padding-bottom 80%
    +mobile()
        padding 7% 0
        &__etapas
            margin-top 8%
        .etapa
            width 100%
            padding 0
            margin-bottom 7%
            &-3
                margin-bottom 0
            > h3
                margin-top .4em
            > .imagem
                width 150px
                height 150px
                padding 0
